<!DOCTYPE html>
<html lang="en">
<!--- head and bootstrap load --->
<head>
    <meta charset="UTF-8">
    <title>Autobot Cardealership Contact</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
<!--- end of head and bootstrap load --->
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Autobots Car dealer shop</a>
                </div>
            </div>
        </nav>
        <!--- end of navbar -->
        <h1>
        Autobots Cars Dealership
        </h1>
        <h3>
            <ul>
                <li>Broker Boys Lane 12</li>
                <li>Roudy route boulevard 356 712</li>
                <li>Gas leak county</li>
                <li>San Jeremino</li>
                <li>Phone: 555-8195565</li>
                <li>Fax: 555-8196656</li>
            </ul>
        </h3>
        
        </h1>
    </body>
</html>